{% macro showPaper(paper, showSessionBadge=false, showPosterNo=false) %}
{% if showSessionBadge %}
{% set session_type = sessions[paper.session_path[0]] %}
{% set session = session_type[paper.session_path[1]] %}
{% set session_theme = session_type._THEME %}
{% set sess_events = sessionSchedule[paper.session] %}
<div class="float-md-end mb-2">
  {% if paper.format == 'virtual' %}
  <div class="badge text-bg-light session-badge" data-bs-toggle="tooltip" data-bs-title="Video available online, not presented in session.">
    <i class="fa-solid fa-video me-2"></i>
    Video Only
  </div>
  {% else %}
  <div class="badge text-bg-{{ session_theme.cls }} session-badge" data-paper-idx="{{ paper.idx }}">
    <i class="fa-solid fa-{{ session_theme.icon }} me-2"></i>
    {{ session.title }}
  </div>
  {% endif %}
  <template id="t-{{ paper.idx }}-title">
    {{ sess_events[0].date | shortDate }}
  </template>
  <template id="t-{{ paper.idx }}-body">
    <div class="list-group list-group-flush">
      {% for event in sess_events %}
      <div class="list-group-item">
        <div class="fw-bold mb-1">
          {% if event.session.type == "poster" and event.session.is_boaster %}
          Poster Boaster
          <i class="fa-solid fa-bullhorn me-1 fa-fw"></i>
          {% elif sess_events.length > 1 %}
          {{ event.session.type | capitalize }} Session
          {% endif %}
        </div>
        <div>
          <i class="fa-solid fa-clock me-1 fa-fw"></i>
          {{ event.start_time }} - {{ event.end_time }}
        </div>
        {% if event.location and config.show_locations %}
        <div>
          <i class="fa-solid fa-location-dot me-1 fa-fw"></i>
          {{ event.location }}
        </div>
        {% endif %}
        {% if event.session.type == "poster" and not event.session.is_boaster and config.show_poster_num %}
        <div>
          <i class="fa-solid fa-file me-1 fa-fw"></i>
          Poster #{{ paper.poster_no }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </template>
    
</div>

{% endif %}
<div class="fw-bold">
  {% if showPosterNo and paper.poster_no and config.show_poster_num %}
  {{ paper.poster_no }}.
  {% endif %}
  {{ paper.title | e | markdown | safe }}  
</div>
<div><i>{{ paper.authors }}</i></div>

{# <div class="my-2">
  {% for sess in sessionSchedule[paper.session] %}
  {% set session_type = sessions[paper.session_path[0]] %}
  {% set session = session_type[paper.session_path[1]] %}
  {% if sess.session.type == "poster" and sess.session.is_boaster %}
  <div class="badge border border-warning text-dark">
    <i class="fa-solid fa-bullhorn me-2"></i>
    {{ session.title | replace("Poster", "Poster Boaster") }} - {{ sess.date | shortDate }} - {{ sess.start_time
    }}-{{ sess.end_time }}
  </div>
  {% elif sess.session.type == "poster" %}
  <div class="badge border border-success text-dark">
    <i class="fa-solid fa-thumbtack me-2"></i>
    {{ session.title }} - {{ sess.date | shortDate }} - {{ sess.start_time }}-{{ sess.end_time }}
  </div>
  {% elif sess.session.type == "oral" %}
  <div class="badge border border-primary text-dark">
    <i class="fa-solid fa-person-chalkboard me-2"></i>
    {{ session.title }} - {{ sess.date | shortDate }} - {{ sess.start_time }}-{{ sess.end_time }}
  </div>
  {% endif %}
  {% endfor %}
</div> #}

<div><a class="link-secondary abstract-collapse-link" data-bs-toggle="collapse" href="#abstract-{{ paper.idx}}"
    role="button" aria-expanded="false" aria-controls="abstract-{{ paper.idx }}">
    <i class="fa-solid fa-plus me-1"></i>abstract
  </a></div>
<p id="abstract-{{ paper.idx }}" 
  class="collapse toggling-collapse abstract-collapse border-start border-3 ps-3 mt-1">
  {{ paper.abstract | markdown | safe }}
</p>
{% endmacro %}