---
fluid: false
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EAMT2024</title>
    <link rel="stylesheet" href="/assets/app.css">

    <script src="https://kit.fontawesome.com/b7b8224508.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="gsites_header">
      <div class="header_img_contain">
        <div class="header_img">
        </div>
        <h1 class="page_title">{{ title }}</h1>
      </div>
    </header>
    {% if alertText %}
    <div class="alert alert-primary alert-square header-alert text-center">
      {{ alertText }}
    </div>
    {% endif %}
    {# {% include "nav.njk" %} #}
    <main class="{% if fluid %}container-fluid{%else%}container{%endif%} pb-3">
      {{ content | safe }}
    </main>

    <footer class="text-body-secondary py-5">
      <div class="container">
        <p>For corrections, please <a class="link-secondary" href="https://github.com/EAMT2024/eamt2024.github.io/issues" target="_blank">open a GitHub issue</a> or contact <a href="mailto:eamt2024@gmail.com" class="link-secondary">the organisers</a>.</p>
      </div>
    </footer>
    
    <script defer type="module" src="/assets/app.js"></script>

    {% for script in scripts %}
      <script defer src="{{ script }}" type="module"></script>
    {% endfor %}
  </body>
</html>