<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/plain.css">
  </head>
  <body>
    <div class="content">
      {{ content | safe }}
    </div>
  </body>
</html>