<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/plain.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
  </head>
  <body>
    <div class="content">
      {{ content | safe }}
    </div>

    {% for script in scripts %}
    <script defer src="{{ script }}" type="module"></script>
    {% endfor %}
  </body>
</html>