<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/plain.css">
  </head>
  <body>
    <div class="content">
      {{ content | safe }}
    </div>

    {% for script in scripts %}
    <script defer src="{{ script }}" type="module"></script>
    {% endfor %}
  </body>
</html>