@import url(https://fonts.bunny.net/css?family=source-sans-pro:400,400i,500,700,700i,900);
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'katex/dist/katex.min.css';

/* Themeing */
:root {
  --bs-primary: #4e008e;
  --bs-font-sans-serif: 'Source Sans Pro', sans-serif;
  --bs-heading-color: var(--bs-primary);
  --bs-link-color: rgba(231, 0, 76, 1);
  --bs-link-color-rgb: 231, 0, 76;

  --eamt-header-size: 340px;
  --eamt-nav-height: 56px;
  --eamt-nav-offset: 28px;
}

/* Header */
.header-alert {
  margin-bottom: calc(24px + 8px);
  --bs-alert-padding-y: 0.5rem;
}

.header_img_contain {
  height: calc(var(--eamt-header-size) - var(--eamt-nav-height));
  position: relative;
  overflow: hidden;
}

.header_img_contain h1 {
  color: white;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  padding-left: 3.75%;
  padding-right: 3.75%;
}

.header_img::before {
  background-color: rgb(33, 33, 33);
  opacity: 0.4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";  
}

.header_img {
  background: url("/assets/sheff.jpg");
  background-size: cover;
  background-position: center;
  /* background-size: 100% calc(100% + var(--eamt-nav-height)); */
  /* background-position: 50% calc(50% + var(--eamt-nav-offset)); */
  width: 100%;
  height: 100%;
}

.page_title {
  font-weight: 900;
  font-size: 31.0pt;
}

/* @media only screen and (min-width: 1280px) {
  :root {
    --eamt-nav-height: 0px;
    --eamt-nav-offset: 0px;
  }
} */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page_title {
    font-size: 38.0pt;
  }
}

@media only screen and (min-width: 768px) {
  .page_title {
    font-size: 44.0pt;
  }
}

/* Session Listings */

.session-badge-popover .popover-body {
  --bs-popover-body-padding-y: 0;
  --bs-popover-body-padding-x: 0;
}

.session-badge-popover .list-group-item {
  --bs-list-group-bg: transparent;
}

.fc-list-event-title .list-group-item {
  --bs-list-group-bg: transparent;
}

.fc-list-event-title .accordion-item {
  --bs-accordion-border-width: 0;
  --bs-accordion-bg: transparent;
}

.fc-list-event-title .accordion-button {
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-padding-y: 0;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-active-color: var(--bs-body-color);
  --bs-accordion-btn-bg: transparent;

}

.fc-list-event-title .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.fc-list-day.fc-day>th {
  z-index: 50;
}

.fc-list-event.has-event-link,
.fc-list-event:has(.accordion) {
  cursor: pointer;
}

.fc-timegrid .has-event-link,
.fc-timegrid .has-event-modal {
  cursor: pointer;
}

.fc-list-event.has-event-link a {
  color: rgba(var(--bs-body-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.fc-list-event.has-event-link:focus a,
.fc-list-event.has-event-link:hover a {
  color: RGBA(86,94,100,var(--bs-link-opacity,1)) !important;
}

.fc-list-event a.abstract-collapse-link {
  text-decoration: underline;
}

.alert-square {
  border-radius: 0;
}

.textsc {
  font-variant: small-caps;
}

.sess-details-icon {
  color: rgba(var(--bs-secondary-rgb), 0.8);
}

.popover-low-pad  {
  --bs-popover-header-padding-x: 0.5rem;
  --bs-popover-header-padding-y: 0.5rem;
  --bs-popover-body-padding-x: 0.5rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.popover:not(:has(.popover-body)) .popover-header {
  border-bottom: none;
  border-radius: var(--bs-popover-inner-border-radius);
}

.fc-list-event-title .sess-location,
.fc-list-event-title .sess-chair {
  font-size: 0.85rem;
}

.sponsors h2 {
  font-size: 1.2rem;
  color: var(--bs-body-color);
  font-weight: bold;
}

.text-sm {
  font-size: 0.85rem;
}

@media only screen and (min-width: 768px) {
  .sess-details {
    display: flex;
  }
}



.sess-details>div {
  margin-right: 1rem;
}