@import url(https://fonts.bunny.net/css?family=source-sans-pro:400,400i,500,700,900);

:root {
  --bs-primary: #4e008e;
  --bs-font-sans-serif: 'Source Sans Pro', sans-serif;
  --bs-heading-color: var(--bs-primary);
  --bs-link-color: rgba(231, 0, 76, 1);
  --bs-link-color-rgb: 231, 0, 76;

  --eamt-header-size: 430px;
  --eamt-nav-height: 56px;
  --eamt-nav-offset: 28px;
}

.gsites_header {
  margin-bottom: calc(24px + 8px);
}

.header_img_contain {
  height: calc(var(--eamt-header-size) - var(--eamt-nav-height));
  position: relative;
  overflow: hidden;
}

.header_img_contain h1 {
  color: white;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.header_img::before {
  background-color: rgb(33, 33, 33);
  opacity: 0.4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";  
}

.header_img {
  background: url("/assets/sheff.jpg") no-repeat center center;
  background-size: cover;
  background-position: 50% calc(50% - var(--eamt-nav-offset));
  width: 100%;
  height: calc(var(--eamt-header-size) - var(--eamt-nav-height));
}

.page_title {
  font-weight: 900;
}

/* @media only screen and (min-width: 1280px) {
  :root {
    --eamt-nav-height: 0px;
    --eamt-nav-offset: 0px;
  }
} */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page_title {
    font-size: 38.0pt;
  }
}

@media only screen and (min-width: 768px) {
  .page_title {
    font-size: 44.0pt;
  }
}