---
layout: main.njk
title: "Accepted Papers"
---

<div class="text-end">
  <button class="btn btn-sm btn-link collapse-all" data-target=".track-collapse" data-action="show">
    <i class="fa fa-plus me-1"></i><span>Show All Tracks</span>
  </button>
  <button class="btn btn-sm btn-link collapse-all" data-target=".abstract-collapse" data-action="show">
    <i class="fa fa-plus me-1"></i><span>Show All Abstracts</span>
  </button>
</div>

<div class="accordion">
  {% for track, papers in groupedPapers.byTrack %}
  <div class="accordion-item">
    <h2 class="accordion-header sticky-top">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-{{track}}" aria-controls="collapse-{{track}}">
        {{ tracks[track] }}
      </button>
    </h2>

    <div id="collapse-{{track}}" class="accordion-collapse collapse track-collapse" aria-labelledby="heading-{{track}}">
      <div class="accordion-body list-group list-group-flush">
        {% from "paper.njk" import showPaper %}

        {% for paper in papers %}
        <div class="list-group-item">
          {# {{ sessionSchedule[paper.session] | dump }} #}
          {{ showPaper(paper, sessions) }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% for sess_key, sess_events in sessionSchedule %}
<template id="t-{{sess_key}}-title">
  {{ sess_events[0].date | shortDate }}
</template>
<template id="t-{{sess_key}}-body">
  <div class="list-group list-group-flush">
    {% for event in sess_events %}
    <div class="list-group-item">
      <div class="fw-bold mb-1">
        {% if event.session.type == "poster" and event.session.is_boaster %}
        Poster Boaster
        <i class="fa-solid fa-bullhorn me-1 fa-fw"></i>
        {% elif sess_events.length > 1 %}
        {{ event.session.type | capitalize }} Session
        {% endif %}
      </div>
      <div>
        {# <i class="fa-solid fa-clock me-1 fa-fw"></i> #}
        {{ event.start_time }} - {{ event.end_time }}
      </div>
      {% if event.room %}
      <div>
        <i class="fa-solid fa-map-marker me-1 fa-fw"></i>
        {{ event.room }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</template>
{% endfor %}