---
layout: main.njk
title: "Accepted Papers"
alertText: "Presentation session assignments are provisional and subject to change."
---

<div class="text-end">
  <button class="btn btn-sm btn-link collapse-all" data-target=".track-collapse" data-action="show">
    <i class="fa fa-plus me-1"></i><span>Show All Tracks</span>
  </button>
  <button class="btn btn-sm btn-link collapse-all" data-target=".abstract-collapse" data-action="show">
    <i class="fa fa-plus me-1"></i><span>Show All Abstracts</span>
  </button>
</div>

<div class="accordion">
  {% for track, papers in groupedPapers.byTrack %}
  <div class="accordion-item">
    <h2 class="accordion-header sticky-top">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-{{track}}" aria-controls="collapse-{{track}}">
        {{ tracks[track] }}
      </button>
    </h2>

    <div id="collapse-{{track}}" class="accordion-collapse collapse track-collapse" aria-labelledby="heading-{{track}}">
      <div class="accordion-body list-group list-group-flush">
        {% from "paper.njk" import showPaper with context %}

        {% for paper in papers %}
        <div class="list-group-item">
          {# {{ sessionSchedule[paper.session] | dump }} #}
          {{ showPaper(paper, true) }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

