---
layout: main.njk
title: "Accepted Papers"
---

<div class="accordion">
  {% for track, papersByType in groupedPapers %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-{{track}}" aria-controls="collapse-{{track}}">
        {{ tracks[track] }}
      </button>
    </h2>

    <div id="collapse-{{track}}" class="accordion-collapse collapse" aria-labelledby="heading-{{track}}">
      <div class="accordion-body">
        {% for format, papers in papersByType %}
        {% if papers.length > 0 %}
        <h2 class="h3 {% if loop.index0 != 0 %} mt-4 {%endif%}">{{ format | title }}</h2>

        <div>
          {% for paper in papers %}
          <div class="mb-3">
            <div class="fw-bold">
              {{ paper.title }}
            </div>
            <div><i>{{ paper.authors }}</i></div>
            <div><a class="link-secondary" data-bs-toggle="collapse"
                href="#abstract-{{ paper.track}}-{{ paper.number }}" role="button" aria-expanded="false"
                aria-controls="abstract-{{ paper.number }}">
                <i class="fa-solid fa-plus me-1"></i>abstract
              </a></div>
            <p id="abstract-{{ paper.track }}-{{ paper.number }}"
              class="collapse toggling-collapse border-start border-3 ps-3 mt-1">
              {{ paper.abstract | e | markdown | safe }}
            </p>
          </div>
          {% endfor %}
        </div>

        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>